@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 203,203,203,1;
  --background-end-rgb: 142,142,142,1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #e0d9df;
}

.user-picture {
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  top: 15%;
  left: 0;
  right: 0;
}

.container-user-country-flag {
  z-index: 0;
  overflow: hidden;
}

.gradient-flag{
  display:inline-block;
    background: linear-gradient(
      180deg, rgba(255,255,255,0) 0%,
      rgba(255, 255, 255, 0) 23%,
      rgba(255,255,255,1) 69%);
}

.user-country-flag {
  z-index:-1;
}
